<link rel="stylesheet" href="/app.css">

<h1>JOIN US</h1>
<P class = "lead">Enter your email to join <strong><%=data%></strong>
    others on our waitlist. We are 100% not a cult</P>
<form method = "post" action="/register">
    <input type="text" class="form" name="email" autocomplete="0" placeholder="Enter Your Email">
    <button>Join NOW</button> 
</form>